# Ignore Compiled Binaries (Linux)
sender
receiver
sender_secure
receiver_secure
sender_dh
receiver_dh
sender_final
receiver_final
p2p_share

# Ignore Object files
*.o

# Ignore Test Files
*.txt
*.bin
*.jpg
*.png
*.mp4

# Ignore VS Code settings
.vscode/

# Ignore Keys (If you ever saved them to disk)
*.pem
*.key